<mat-card [ngClass]="{'card':item.available && type!=2,'card_av':!item.available,'card_non':type==2}" (click)="editItem()">
  <div class="col">
  <h3>Id:{{item.id}}</h3>
  </div>
  <img src="{{item.imgsrc}}" alt="">
  <div class="col">
  <h3>Name:{{item.name}}</h3>
  </div>
  <div class="col">
  <h3>Starting price: $ {{item.starting_price}}</h3>
  </div>
  <button *ngIf="type==2 && !subscribed" mat-button class="buttonSubscribe" (click)="subscribe()">Subscribe</button>
  <button *ngIf="type==2 && subscribed" mat-button class="buttonSubscribe" (click)="unsubscribe()">Unsubscribe</button>

</mat-card>
