<h3 mat-dialog-title>Edit Item {{data.item.id}}</h3>

<mat-dialog-content style="display: flex;flex-direction: column;gap: 10px;">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput #name value={{data.item.name}}>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Starting Price</mat-label>
    <input matInput #price value={{data.item.starting_price}}>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image Source</mat-label>
    <input matInput #image value={{data.item.imgsrc}}>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput #des value= {{data.item.des}}>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="submit" (click)="close()">Cancel</button>
  <button mat-button type="submit" (click)="edit(name.value,price.value,image.value,des.value)">Edit Item</button>
</mat-dialog-actions>

