<mat-card [ngClass]="{'card':true, 'disabled':enroled,'activated':auction.status==1}" (click)="openDialog()" >
  <div class="col">
  <h3>Id:{{auction.id}}</h3>
  </div>
  <img src="{{auction.imgsrc}}" alt="">
  <div class="col">
  <h3>Name:{{auction.name}}</h3>
  </div>
  <div class="col">
  <h3> Last Bid: ${{auction.price}}</h3>
  </div>
  <div class="col">
  <h3> Closing Time:{{auction.endDate}}</h3>
  </div>
  <button mat-button *ngIf="auction.status == 0 && seller" [ngClass]="{'buttonSubscribe':true}" style=" background-color: white;" (click)="endAuction()" >End Auction</button>
</mat-card>

