<mat-dialog-content>
  <h1>Auction {{data.id}}</h1>
  <p> Last Bid:   {{data.price}}</p>
  <p> Closing Time:  {{data.endDate.toISOString()}}</p>
</mat-dialog-content>

<mat-dialog-actions style="display:flex;justify-content: space-between; width: 80vh;">
    <button mat-button class="mat-raised-button"(click)="close()">Close</button>
    <div style="display: flex;gap: 10px;">
    <mat-form-field>
      <mat-label>Amount to Bid</mat-label>
      <input  matInput name="" #price>
    </mat-form-field>
    <button mat-button class="mat-raised-button mat-primary"(click)="save(price.value)">Bid</button>
    </div>
</mat-dialog-actions>
