

.container{
  padding-left: 20px;
}
.top{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.selling{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
