<mat-sidenav-container class="sidenav"  *ngIf="connected">
  <mat-sidenav opened mode="side" class="side">
    <mat-nav-list class="list">
      <div class="routes">
        <a mat-list-item class="title" disabled>RunCentral</a>
        <a mat-list-item class="item" [routerLink]="['events']">Events</a>
        <a mat-list-item class="item" [routerLink]="['results']">Event Results</a>
      </div>
      <div>
        <a mat-list-item (click)="logout()">LogOut</a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet class="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
