<div style="display: flex;flex-direction: column;">
  <div>
  <div style="display:flex;align-items: center;gap: 10px;justify-content: center;width: 100%;">
    <div>
      <a>Tiempo de la subasta:</a>
  </div>
  <mat-button-toggle-group #toggleBtn="matButtonToggleGroup" value="0">
    <mat-button-toggle value="0">1 Day</mat-button-toggle>
    <mat-button-toggle value="1">2 Days</mat-button-toggle>
    <mat-button-toggle value="2">3 Days</mat-button-toggle>
  </mat-button-toggle-group>
  </div>

<mat-dialog-content style="display: flex;flex-direction: column;gap: 20px;justify-content: center;align-items: center;">
    <mat-selection-list #itemsList [multiple]="false" style="align-self: flex-start;width: 100%;">
      <ng-container  *ngFor="let i of data.items">
          <mat-list-option [value]="i" *ngIf="i.available" style="display: flex; justify-content: space-between; width: 100%;border: 1px solid red;height: 100px;">
            <p>
            Id of item: {{i.id}}
            <p>
            Name of item: {{i.name}}
            </p>
            Starting price of auction : ${{i.starting_price}}
            <p>
            </p>
          </mat-list-option>
      </ng-container>
    </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Auction</button>
</mat-dialog-actions>
</div>
