
<div class="container">
  <div class="selling">
    <h1>Winning Auctions</h1>
    <ng-container *ngFor="let i of auctions">
      <app-auction [type]=2 [auction]=i></app-auction>
    </ng-container>
    <h1>Losing Auctions</h1>
    <ng-container *ngFor="let i of loosingAuctions">
      <app-auction [type]=2 [auction]=i></app-auction>
    </ng-container>
    <h1>Closed Auctions</h1>
    <ng-container *ngFor="let i of closedAuctions">
      <app-auction [type]=2 [auction]=i></app-auction>
    </ng-container>

  </div>

