<mat-sidenav-container class="sidenav">
  <mat-sidenav opened mode="side" class="side">
    <mat-nav-list class="list">
      <div class="routes">
        <a mat-list-item class="title" disabled>AuctionUSFQ</a>
        <a mat-list-item class="item" *ngIf="seller" [routerLink]="['buyer']">Active Auctions</a>
        <a mat-list-item class="item" *ngIf="seller" [routerLink]="['non-active']">Non Active Items</a>
        <a mat-list-item class="item" *ngIf="seller" [routerLink]="['your-auctions']">Your Auctions</a>
        <a mat-list-item class="item" *ngIf="seller" [routerLink]="['seller']">Manage Auctions</a>
        <a mat-list-item class="item" *ngIf="seller" [routerLink]="['manage-items']">Manage Items</a>
      </div>
      <div>
        <a mat-list-item [routerLink]="['profile']">Profile</a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet class="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
